<h2>Near Earth asteroids have been found!</h2>
{{#each asteroids}}
    <div class="asteroid">
        <h3 class="alert">Asteroid {{name}} is potentially dangerous!</h3>
        <p class="message">{{message}}</p>
    </div>
{{/each}}