.blue {
    color: blue;
}

.hulkify {
    font-size: 2em;
}

.capture {
    border: 1px solid black;
}

.rounded {
    border-radius: 5px;
}

section:nth-child(1) {
    font-weight: bold;
}

section:nth-child(6) {
    font-weight: bold;
    font-style: italic;
}

button {
    display: block;
}